/* General Styles */
html {
    font-size: 16px;
}

body {
    background-color: skyblue;
}

/* Header Styles */
header {
    width: 100%;
}

h1 {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
}

/* Main Styles */

/* Player info form container */
#player-info-container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

input[type="text"] {
    width: 200px;
}

.bold {
    font-weight: bold;
    font-size: 1.1rem;
}

.player-form {
    line-height: 1.5;
    width: 40%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
}

.player-info {
    line-height: 1.5;
    width: 40%;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
}


h3 {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Tic Tac Toe Board */
#board-container {
    display: grid;
    width: 632px;
    margin: 1rem auto;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
    background-color: grey;
    display: none;
}

.board-space {
    font-size: 5rem;
    background-color: beige;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    user-select: none;
}

.board-space:hover {
    border: 2px solid red;
}

/* Bottom buttons */
#btn-container {
    width: 100%;
}

#start-reset {
    display: block;
    margin: 0 auto;
}

/* Outcome display */
#outcome-display {
    text-align: center;
    font-size: 5rem;
}