/* General Styles */
html {
    font-size: 16px;
}

body {
    background-color: lightskyblue;
}

/* Header Styles */
header {
    background-color: rgb(95, 211, 195);
    border-bottom: 2px solid black;
    width: 100%;
}

h1 {
    font-family: 'Black Ops One', cursive;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 6rem;
    padding: 1rem;
}

/* Main Styles */

/* Player info form container */
#player-info-container {
    width: 40%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

input[type="text"] {
    width: 200px;
}

.bold {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}

.player-form {
    background-color: seashell;
    line-height: 1.5;
    width: 40%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
}

.player-info {
    background-color: seashell;
    line-height: 1.5;
    width: 40%;
    border: 2px solid black;
    border-radius: 3px;
    padding: 1rem;
    text-align: center;
}


h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Tic Tac Toe Board */
#board-container {
    display: grid;
    width: 632px;
    margin: 2rem auto;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 1rem;
    background-color: grey;
    display: none;
    border: 2px solid #000;
}

.board-space {
    font-family: 'Noto Sans KR';
    font-size: 7rem;
    background-color: seashell;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    user-select: none;
}

.board-space:hover {
    border: 2px solid red;
}

/* Bottom buttons */
#btn-container {
    width: 100%;
}

#start-reset {
    color: white;
    font-size: 1.5rem;
    background-color: rgb(226, 88, 46);
    display: block;
    margin: 1rem auto;
}

/* Outcome display */
#outcome-display {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 5rem;
    margin-top: 2rem;
}